a, a:hover {
    color: white;
}

body {
    font-family: 'Basic', sans-serif;
    font-size: 20px;
}

.fas {
    color: darkolivegreen;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

h3, h5, footer {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    background-color: darkolivegreen;
    margin-top: 10px;
}

.jumbotron {
    margin-top: 200px;
    padding: 25px;
    align-items: center;
    background: url("../images/newyear.png");
}

#my-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

footer {
    position: fixed;
    padding-right: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
}
